* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.main {
  width: 100%;
  /* height: 100vh; */
  /* border: solid 1px rgb(106, 255, 0); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aliceblue; */
}

a {
  text-decoration: none;
}


.loader {
  height: 4px;
  width: 100%;
  --c: no-repeat linear-gradient(#6100ee 0 0);
  background: var(--c), var(--c), #d7b8fc;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}

@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0
  }

  66% {
    background-position: 250% 0, -150% 0
  }

  100% {
    background-position: 250% 0, 250% 0
  }
}

@media only screen and (max-width: 900px) {
  .header-box {
    width: 100%;
    margin: 10px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000000 100%), url('https://i.ibb.co/nBPHhXy/mbanner.jpg');
    height: 590px;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .search-box {
    width: 90%;
  }

  .search-btn {
    width: 20%;
  }
}